
body{
    background-color: #161616;
    color: white;
    font-family: 'Courier New', monospace;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}




input{
    font-size:14pt;
    margin-top: 20px;
    border: solid 0.1px;
    background-color: #343549;
    border-radius: 4px;
}

.title{
    font-size: 40px;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
   
#animationWindow {
    width: 15%;
    height: 15%;
    cursor: pointer;
}