
body{
    background-color: #161616;
    color: white;
    font-family: 'Courier New', monospace;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}



.card_form{
    margin-top: 200px;
    border-radius: 6px;
    background-color: #1a1b2f;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #1a1b2f;
    height: fit-content;
    padding: 20px;
    width: 320px;
    text-align: center;
}

input{
    font-size:14pt;
    margin-top: 20px;
    border: solid 0.1px;
    background-color: #343549;
    border-radius: 4px;
}

::placeholder {
   text-align: center; 
}

.form_submit{
    margin-top: 50px;
    
}

#submit{
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 90%;
    background-color: #1291d8;
    font-size: 20px;
}

.title{
    font-size: 40px;
}



   
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
   
#animationWindow {
    width: 20%;
    height: 20%;
    cursor: pointer;
}

.checkbox{
    display: flex;
    justify-content: space-evenly;
}


.switch {
    display: inline-block;
    position: relative;
    width: 59px;
    height: 36px;
    cursor: pointer;
    overflow: hidden;
    
  }


  .switch input {
    position: absolute;
    top: -30px;
    top: -30px;
    width: 0;
    
    height: 0;
  }


  .switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    border-radius: 20px;
  }


  .switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 20px;
    height: 20px;
    background: #0071bc;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .5s;
    filter: blur(0.4px);
  }


  .switch input:checked + span {
    border: solid 3px #05b1db;
    filter: blur(0.4px);
    
  }

  .switch input + span {
    border: solid 3px #05b1db;
    filter: blur(0.4px);
  }


  .switch input:checked + span:before {
    left: 30px;
    
  }

